/* Style text to the left and increase top padding on large (bootstrap lg) screens */
@media (min-width: 992px) {
  #title-column {
    text-align: left;
    float: left;
  }

  #promotion-box {
    padding-top: 20vh !important;
    font-size: 20px;
  }
}
