/* Adapted from https://www.w3schools.com/howto/howto_css_image_overlay_icon.asp */

/* Container needed to position the overlay. Adjust the width as needed */
.project-image-container {
  position: relative;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.project-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: gray;
}

/* When you mouse over the container, fade in the overlay icon*/
.project-image-container:hover .project-image-overlay {
  opacity: 0.6;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.upload-icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
